<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- DEBUG CONNECTION STRING -->
  <connectionStrings>
    <add name="JCarrollOnlineV2Connection"
         connectionString="Data Source=HOLODECK\SQLEXPRESS;Integrated Security=True;Connect Timeout=30;Encrypt=False"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </connectionStrings>

  <!-- OPTIONAL: Turn off custom errors for Debug -->
  <system.web>
    <customErrors mode="Off"
                  xdt:Transform="Replace" />
  </system.web>

</configuration>
