<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- Disable debug mode in production -->
  <system.web>
    <compilation xdt:Transform="SetAttributes" debug="false" />
  </system.web>

  <!-- Replace placeholders with actual secrets -->
  <connectionStrings xdt:Transform="Replace">
    <add name="JCarrollOnlineV2Connection"
         connectionString="__DEV_CONNECTION_STRING__"
         providerName="System.Data.SqlClient" />
    <add name="JCarrollOnlineV2ProductionConnection"
         connectionString="__PROD_CONNECTION_STRING__"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <machineKey xdt:Transform="SetAttributes(validationKey,decryptionKey)"
                validationKey="__MACHINEKEY_VALIDATION__"
                decryptionKey="__MACHINEKEY_DECRYPTION__" />
  </system.web>

  <system.net>
    <mailSettings>
      <smtp>
        <network xdt:Transform="SetAttributes(password)"
                 password="__SMTP_PASSWORD__" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>