@using JCarrollOnlineV2.ViewModels
@model HomeViewModel

<div class="text-center">
    <h1>Welcome to JCarrollOnline</h1>
    <h2> This is the home page for JCarrollOnline </h2>
</div>
<div class="blogFeed">
    @Html.Partial("_BlogFeedPartial", Model.BlogFeed)
</div>
<div>
    <p class="text-center">@Html.ActionLink("Sign up now!", "Index", "Home", new { @class = "btn btn-large btn-primary" })</p>
</div>
