@using JCarrollOnlineV2.ViewModels
@model HomeViewModel

<div class="text-center">
    <h1>Welcome to JCarrollOnline</h1>
    <hr width="35%" />
</div>
<section class="blogFeed">
    @Html.Partial("_BlogFeedPartial", Model.BlogFeed)
</section>
