@using JCarrollOnlineV2.ViewModels.Blog
@model BlogCommentItemViewModel
<div class="blog_post_footer">
    <footer>
        <div class="footerContainer">
            @*Posted by: @Model.Author on @Model.CreatedAt*@
            <span class="user">
                Posted by @Model.Author
                </span>
            <span class="timestamp">
                <span data-livestamp="@Model.TimeAgo"></span>
            </span>
        </div>
    </footer>
</div>
