@using JCarrollOnlineV2.ViewModels.Blog
@using JCarrollOnlineV2.HtmlHelpers
@model BlogCommentsViewModel

@Html.BlogCommentsDivTag(Model.BlogItemId)

@foreach (var item in Model.BlogComments)
{
    @Html.Partial("_BlogCommentItemPartial", item)
}
@Html.BlogShowCommentsDialogButton(Model.BlogItemId)

@Html.Raw("</div>")

