@using JCarrollOnlineV2.ViewModels
@model BlogFeedItemViewModel

<div class="blogEntryContainer">
    @Html.Partial("_BlogFeedItemContentPartial")
    @Html.Partial("_BlogFeedItemFooterPartial")
</div>