@using JCarrollOnlineV2.ViewModels.ForumThreadEntries
@using JCarrollOnlineV2.HtmlHelpers
@model ThreadEntryDetailsItemViewModel

<div class="gravataruser">
    @Html.Gravatar(Model.Author.Email, 52, new { Title = "My Gravatar", Alt = "Gravatar" })
</div>
<div class="forum_thread_content">
  @Html.Markdown(@Model.Content)
</div>
