@using JCarrollOnlineV2.ViewModels
@using Microsoft.AspNet.Identity
@model ForumThreadEntryDetailsItemViewModel

<div class="forum_thread_footer">
    <footer>
        <div class="row">
            <div class="col-md-6">
                @Html.ActionLink("Back to top", "Details", "ForumThreadEntries", null, null, "post1", new { forumId = Model.ForumId, forumThreadEntryId = Model.RootId }, null)
            </div>
            <div class="col-md-6">
                @if (User.Identity.GetUserId() != null)
                {
                    <div class="threadinfo">
                        @if (Model.AuthorId == User.Identity.GetUserId())
                        {
                            <div>
                                @Html.ActionLink("Edit", "Edit", "ForumThreadEntries", new { forumThreadEntryId = Model.ForumThreadEntryId }, null)
                            </div>
                        }
                        <div>
                            @Html.ActionLink("Reply", "Create", "ForumThreadEntries", new { forumId = Model.ForumId, parentId = Model.ForumThreadEntryId, rootId = Model.RootId }, null)
                        </div>
                    </div>
                }
            </div>
        </div>
    </footer>
</div>
