@using JCarrollOnlineV2.ViewModels.ForumThreadEntries
@using Microsoft.AspNet.Identity
@model ThreadEntryDetailsItemViewModel

<div class="forum_thread_footer">
    <footer>
        <div class="row">
            <div class="col-md-6">
                @Html.ActionLink("Back to top", "Details", "ForumThreadEntries", null, null, "post1", new { forumId = Model.Forum.Id, id = Model.RootId }, null)
            </div>
            <div class="col-md-6">
                <div class="threadinfo">
                    @if (User.Identity.GetUserId() != null)
                    {
                        if (Model.Author.Id == User.Identity.GetUserId() || (User.IsInRole("Administrator")))
                        {
                            if (Model.Locked != true || User.IsInRole("Administrator"))
                            {
                                <div>
                                    @Html.ActionLink("Edit", "Edit", "ForumThreadEntries", new { id = Model.Id }, null) | @Html.ActionLink("Delete", "Delete", "ForumThreadEntries", new { id = Model.Id }, null)
                                </div>
                            }
                        }
                    }
                    <div>
                        @if (Model.Locked != true)
                        {
                            @Html.ActionLink("Reply", "Create", "ForumThreadEntries", new { forumId = Model.Forum.Id, parentId = Model.Id, rootId = Model.RootId }, null)
                        }
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
