@using JCarrollOnlineV2.Entities
@model HierarchyNode<ForumThreadEntry>

<div class="container">
<div class="reply-border">
@Html.Partial("_ForumThreadHeader", Model)
@Html.Partial("_ForumThreadContent", Model)
@Html.Partial("_ForumThreadFooter", Model)
</div>
</div>