@using JCarrollOnlineV2.ViewModels
@using JCarrollOnlineV2.HtmlHelperExtensions
@using Microsoft.AspNet.Identity
@model UserStatsViewModel

<div class="stats">
    @Html.MultiLineActionLink(Model.UsersFollowing.Users.Count() + "<br/>following", "Following", "Users", new { userId = Model.User.Id }, null)
    @Html.MultiLineActionLink(Model.UserFollowers.Users.Count() + "<br/>followers", "Followed", "Users", new { userId = Model.User.Id }, null)
</div>
