@using JCarrollOnlineV2.ViewModels
@using JCarrollOnlineV2.HtmlExtensions
@using Microsoft.AspNet.Identity
@model UserStatsViewModel

<div class="stats">
    @Html.MultiLineActionLink(Model.Following + "<br/>following", "Following", "Users", new { userId = User.Identity.GetUserId() }, null)
    @Html.MultiLineActionLink(Model.Followed + "<br/>followed", "Followed", "Users", new { userId = User.Identity.GetUserId() }, null)
</div>
