@using JCarrollOnlineV2.ViewModels
@using JCarrollOnlineV2.Entities
@using JCarrollOnlineV2.HtmlHelperExtensions
@model ForumThreadEntryDetailsViewModel


@{
    Model.PageTitle = Model.Forum.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@Model.PageTitle</h1>

@Html.Partial("_ForumThreadPartial", Model.ForumThreadEntryDetailItems.ForumThreadEntries.First())
@{
    <h2>Replies to this post</h2>
@*@Html.Partial("_ForumThreadEntryTOCPartial", Model.ForumThreadEntryTOCItems)*@
    @Html.Partial("_ForumThreadEntryTOCPartial", Model.ForumThreadEntryDetailItems)
}
@Html.Raw(Html.TreeView("forumThreads", Model.ForumThreadEntryDetailItems.ForumThreadEntries.First().ChildNodes, l => l.ChildNodes, l => Html.Raw(Html.Partial("_ForumThreadPartial", l)).ToString()))