@using JCarrollOnlineV2.ViewModels.ForumThreadEntries
@using JCarrollOnlineV2.HtmlHelpers
@model ThreadEntryDetailsViewModel


@{
    Model.PageTitle = Model.Forum.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@Model.PageTitle</h1>

@Html.Partial("_ForumThreadPartial", Model.ForumThreadEntryDetailItems.ForumThreadEntries.First())
@{
    <h2>Replies to this post</h2>
    @*@Html.Partial("_ForumThreadEntryTOCPartial", Model.ForumThreadEntryTOCItems)*@
    @Html.Partial("_ForumThreadEntryTOCPartial", Model.ForumThreadEntryDetailItems)
}
@Html.Raw(Html.TreeView("forumThreads", "forumThreadEntry", Model.ForumThreadEntryDetailItems.ForumThreadEntries.First().ChildNodes, l => l.ChildNodes, l => Html.Raw(Html.Partial("_ForumThreadPartial", l)).ToString()))

<script type="text/javascript">
    // Find all YouTube videos
    var $allVideos = $("iframe[src^='https://www.youtube.com']"),
        // The element that is fluid width
        $fluidEl = $("div[class^='forum_thread_content']");

    // Figure out and save aspect ratio for each video
    $allVideos.each(function () {

        $(this)
            .data('aspectRatio', this.height / this.width)

            // and remove the hard coded width/height
            .removeAttr('height')
            .removeAttr('width');

    });

    // When the window is resized
    $(window).resize(function () {

        var newWidth = $fluidEl.width();

        // Resize all videos according to their own aspect ratio
        $allVideos.each(function () {

            var $el = $(this);
            $el
                .width(newWidth)
                .height(newWidth * $el.data('aspectRatio'));

        });

        // Kick off one resize to fix all videos on page load
    }).resize();
</script>