@using JCarrollOnlineV2.ViewModels.Blog
@model BlogIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
    <h1>Blog Posts</h1>

@Html.Partial("_BlogFeedPartial", Model.BlogFeedItems)
@Html.ActionLink("Create New", "Create")
