body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.welcome_page_html {
    width: 100%;
    background-image: url("images/Deception_Pass_Bridge_in_fog2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0px;
} 
 
.welcome_page_body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgba(0,0,0,0);
}

.welcome_page_enter_container {
    height: 10em;
    position: relative;
}

.welcome_page_enter_text {
    background: rgba(120,120, 120, 0.4);
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    font: 24px arial, sans-serif;
}

.rowTitle {
  font-size: 1.5em;
}

table#fora_index td, table#fora_index th {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}
