body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.welcome_page_html {
    width: 100%;
    background-image: url("images/Deception_Pass_Bridge_in_fog2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0px;
}

.welcome_page_body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgba(0,0,0,0);
}

.welcome_page_enter_container {
    height: 10em;
    position: relative;
}

.welcome_page_enter_text {
    background: rgba(120,120, 120, 0.4);
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    font: 24px arial, sans-serif;
}

.stats {
    overflow: auto;

    a {
        float: left;
        padding: 0 10px;
        border-left: 1px solid @TOCTableBorderColor;
        color: gray;

        &:first-child {
            padding-left: 0;
            border: 0;
        }

        &:hover {
            text-decoration: none;
            color: $blue;
        }
    }

    strong {
        display: block;
    }
}

.rowTitle {
    font-size: 1.5em;
}

.forum_thread_entry_TOC {
    width: 100%;
    border-width: .5px;
    border: solid;
    border-color: rgba(120,120, 120, 0.4);
    border-collapse: collapse;
}

.fteTOCtd {
    border-width: .5px;
    border: solid;
    border-color: rgba(120,120, 120, 0.4);
    border-collapse: collapse;
}

table#fora_index {
    width: 100%;
}

table#fora_index td, table#fora_index th {
    padding: 15px;
    margin: 0 auto 20px !important;
    float: none !important;
}

.forum_thread_header {
    background-color: #dedede;
}

.forum_thread_footer {
    background-color: #dedede;
    padding-left: 5px;
    clear: both;
}

.reply-border {
    border: solid;
    border-width: 1px;
    border-color: #999999;
    margin: 20px 0px 0px 0px;
}

.forum_thread_content {
    margin: 20px;
}

.gravataruser {
    float: left;
    margin: 10px;
}

.threadinfo {
    text-align: right !important;
}

ul {
    list-style-type: none;
}

.header_wrapper {
    display: inline-block;
    width: 100%;
}

.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

@TOCTableBorderColor: #e6e6e6;

#TOCTable {
    width: 100%;
    border: solid;
    border-width: 1px;
    border-color: @TOCTableBorderColor;
    border-spacing: 0;
}

#TOCTableHeader {
    border: solid;
    border-width: 1px;
    border-color: @TOCTableBorderColor;
}

#TOCRow {
    border: solid;
    border-width: 1px;
    border-color: @TOCTableBorderColor;
}

#TOCTableData {
    border: solid;
    border-width: 1px;
    border-color: @TOCTableBorderColor;
}

#TOCImage {
    display: inline-block;
    width: 14px;
    height: 19px;
    vertical-align: top;
}

#postEdited {
    color: red;
    margin: 20px;
}

aside {
    textarea {
        height: 100px;
        margin-bottom: 5px;
    }

    section {
        padding: 10px 0;
        border-top: 1px solid @TOCTableBorderColor;

        &:first-child {
            border: 0;
            padding-top: 0;
        }

        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }

        h1 {
            font-size: 1.6em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
        }
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
}

.user_info {
    margin-top: 20px;
}

.container {
    margin-top: 20px;
}

.user_item {
    margin-top: 20px;
}

.micropost {
  list-style: none;
  margin: 30px 0px 0px 0px;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.rss_ul {
    padding: 0;
    list-style-type: none;
    font-size: small;
}