@using JCarrollOnlineV2.ViewModels.Users
@using Microsoft.AspNet.Identity
@model UsersIndexViewModel

@{
    Model.PageTitle = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
}

<div class="container">
    <h1>Users</h1>
    <p class="lead">Browse all registered users on the site.</p>
    <ul class="list-unstyled">
        @foreach (var item in Model.Users)
        {
            if (User.Identity.GetUserId() != item.User.Id)
            {
                @Html.Partial("_UserItemPartial", item)
            }
        }
    </ul>
</div>
