@using JCarrollOnlineV2.ViewModels.Users
@using Microsoft.AspNet.Identity
@model UsersIndexViewModel

@{
    Model.PageTitle = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Lang = "en";
}

<div class="container" lang="en">
    <ul>
        @foreach (var item in Model.Users)
        {
            if (User.Identity.GetUserId() != item.User.Id)
            {
                @Html.Partial("_UserItemPartial", item)
            }
        }
    </ul>
</div>
