@using JCarrollOnlineV2.EmailViewModels
@model UserWelcomeViewModel

    <!DOCTYPE html>

    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Welcome</title>
    </head>
    <body>
        <div class="headerimage">
            <img src="https://www.dropbox.com/s/omuane2didx7rh0/DeceptionPassBridgeInFogHeader.jpg?raw=1" alt="Bridging the space between imagination and implementation..." style="max-height:100%; max-width:100%"><p>
        </div>
        Hi @Model.TargetUser.UserName,
        </p>
        <p>
            Thanks for signing up to <a href="http://JCarrollOnline.com">JCarrollOnline.com</a>!
        </p>
        <p>
            Confirm your account, Please confirm your account by clicking <a href="@Model.CallbackUrl">here</a>
        </p>
        <ul>
            Don't forget to check out:
            <li>
                The <a href="http://JCarrollOnline.com/Fora/Index">Forums</a>. You can post your opinion on many different subjects, and reply to other's opinions.
            </li>
            <li>
                The Micropost system. You can post short messages, and those who are following you will be able to see your post. You can follow others easily, just go to the Users page, click on a user you'd like to follow and then click follow. You can also have an email, sent to you, containing the micropost the person you're following posted. To do this just go to your profile page and click on "Micropost Email Notifications"  and the "Save User Settings".
            </li>
            <li>
                The Blog. The Blog will contain all sorts of information reguarding the site, technical tips, and even just anecdotal stories.
            </li>
            <li>
                Cominig soon: Pictures for Microposts, Pictures and Mark down for Forum threads, and you never know what you might find in the Sandbox.
            </li>
        </ul>
        <p>
            Have fun playing with the features on this site!
        </p>
        <p>John, Founder</p>

    </body>
</html>  