@using JCarrollOnlineV2.ViewModels.Home
@model AboutViewModel
@{
    Model.PageTitle = "About";
}
<h1>About Us</h1>
<p>
    This is my Website, built with <a href="http://www.asp.net/mvc/mvc5">ASP.NET MVC 5</a>.  This Website is based on the <a href="http://JCarrollOnline.com">JCarrollOnline</a> by John Carroll, written in Ruby on Rails.

<p style="text-align: center">Mentatware&trade; is a trademark of Mentatware LLC</p>
<p style="text-align: center">JCarrollOnlineV2&trade; is a trademark of Mentatware LLC</p>

