@using JCarrollOnlineV2.ViewModels.Home
@model ContactViewModel

@{
    Model.PageTitle = "Contact";
}
<h2>@Model.PageTitle.</h2>
<h3>@Model.Message</h3>

<address>
    Contact JCarroll at <a href="mailto:administrator@jcarrollonline.com">Johns Email.</a>
</address>