@using JCarrollOnlineV2.ViewModels
@model ContactViewModel

@{
    Model.PageTitle = "Contact";
}
<h2>@Model.PageTitle.</h2>
<h3>@Model.Message</h3>

<address>
    Contact JCarroll at <a href="mailto:jcarrollonline@gmail.com">Johns Email.</a>
</address>