@using JCarrollOnlineV2.ViewModels
@model HomeViewModel
@{
    Model.PageTitle = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated)
{
    @Html.Partial("_HomePartial", Model)
    <div class="col-sm-4">
    </div>
}
else
{
    @Html.Partial("_AdvertisePartial", Model)
    <div class="col-sm-4">
    </div>
}
