@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated)
{
    @Html.Partial("_HomePartial")
    <div class="col-sm-4">
    </div>
}
else
{
    @Html.Partial("_AdvertisePartial")
    <div class="col-sm-4">
    </div>
}
