@using JCarrollOnlineV2.ViewModels
@model HomeViewModel
@{
    Model.PageTitle = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="welcome_page_enter_container">
    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "welcome_page_enter_text" })
</div>
