@using JCarrollOnlineV2.ViewModels
@model ForaDetailsViewModel

@{
    Model.PageTitle = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.PageTitle)</h2>

